<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/write.css">
</head>
<body>
    <div class="input">
        <div class="input-title">
            <input type="text" class="input-title-input" placeholder="题目" value="<%= title %>">
        </div>
        <div class="input-control">
            <button class="input-control-publish">发表</button>
            <button class="input-control-publish">回首页</button>
        </div>
        <div class="input-id">
            <input type="text" class="input-id-input" value='<%= id %>'>
        </div>
        <div class="input-content">
            <textarea class="input-content-input"><%= content %></textarea>
        </div>
    </div>

    <script src="/static/jquery.js"></script>
    <script src="/static/write.js"></script>
</body>
</html>