/* * { outline: 1px solid #bed4ff; } */
.header {
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}
.header a:hover {
    text-decoration: none;
}
.header-link {
    margin: 0 10px;
}
.header-logo {
    width: 100px;
    vertical-align: top;
}
.header-head {
    width: 38px;
    border-radius: 50%;
}
.header-dropdown {
    width: 160px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    background: #fff;
    position: absolute;
    top: 45px;
    left: 90px;
}
.open {
    display: block;
}
.close {
    display: none;
}
.header-dropdown li {
    text-align: center;  
}
.header-dropdown li:hover {
    background: #eee;
}
.header-dropdown li a {
    display: block;
    text-decoration: none;
    color: black;
    line-height: 50px;
}
.header-write {
    line-height: 56px;
    font-size: 15px;
    color: #fff;
    background: #ec6149;
    padding: 10px 18px;
    border-radius: 20px;
}
.header-write:hover {
    color: #fff;
    text-decoration: none;
}
.header-signin {
    color: #969696;
}
.header-signin:hover {
    color: #969696;
    text-decoration: none;
}
.header-signup {
    color: #ec6149;
    padding: 10px 18px;
    border-radius: 20px;
    border: 1px solid #ec6149;
}
.header-signup:hover {
    color: #ec6149;
    text-decoration: none;
}


.content-title {
    margin: 20px 0;
}
.content-title-link {
    color: black;
}
.content-title-link:hover {
    color: black;
}