.input {
    width: 800px;
    margin: 0 auto;
}

.input-title {
    
}
.input-title-input {
    font-size: 30px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 30px;
    outline: none;
}
.input-title-input::placeholder {
    color: #d9d9d9;
}

.input-control {
    background: #d9d9d9;
}
.input-control-publish {
    width: 110px;
    line-height: 35px;
    font-size: 14px;
    background: none;
    border: none;
    color: #595959;
    outline: none;
}
.input-control-publish:hover {
    background: #595959;
    color: #fff;
}

.input-id-input {
    display: none;
}

.input-content {
    
}
.input-content-input {
    outline: none;
    box-sizing: border-box;
    font-size: 18px;
    padding: 20px;
    width: 100%;
    height: 800px;
}